<!-- search.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/water.css') }}">

</head>

<body>
    <h1>Product Search</h1>

    {% if success %}
        <p>{{ success|safe }}</p>
    {% endif %}


    <form method="POST" action="/search">
        <input type="text" name="product_name" placeholder="input product name" required>
        <input type="submit" value="search">
    </form>

<!--    show the message from the back end-->
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {% for table in tables %}
        {{titles[loop.index]}}
        {{ table|safe }}
    {% endfor %}

<!--    <input type="button" class="button" value="Back to Home" onclick="location.href='/';">-->
    <input type="button" class="button" value="Back to Home" onclick="window.location='/logout';">


</body>
</html>
